* {
    box-sizing: border-box;
}

.board {
    width: 33%;
}

.board-square {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border: 1px black solid;
    margin: 2px;
    padding: 0;
    text-align: center;
}

.dir-left {
    transform: rotate(180deg);
}
.dir-up {
    transform: rotate(-90deg);
}
.dir-down {
    transform: rotate(90deg);
}

.wrapper {
    display: flex;
}
.half {
    width: 50%  ;
}
.description {
    width: 33%;
    padding: 0.5rem 2rem;
    overflow-y: scroll;
    height: calc(100vh - 30px - 5rem);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Reenie Beanie', cursive;
    min-height: 100vh;
}
h1 {
    font-size: 3rem;
}
header {
    display: flex;
    margin: 0;
    padding: 0;
    height: 5rem;
    background: crimson;
    color: whitesmoke;
    justify-content: space-around;
}
header h1 {
    margin: 0;
    width: 20vw;
    height: 100%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul {
    margin: 0;
    padding: 0;
    justify-self: center;
    list-style: none;
    width: 70vw;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header li {
    display: inline-block;
}
header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: inherit;
    transition: all 1s ease-out;
}
header a:hover {
    color: green;

}

p {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1024px;
    width: 90vw;
    margin: 3rem auto;
}

.codebook .CodeMirror {
    height: auto;
}
.editor {
    width: 33%;
}
.editor-code {
    border: 1px solid blanchedalmond;
    height: auto;
}
.CodeMirror {
    height: calc(100vh - 30px - 5rem - 60px);
}

.controls {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    height: 60px;
    background: ghostwhite;
}
.controls button {;
    width: 30%;
    height: calc(100% - 3px);
}
button[hidden] {
    visibility: hidden;
}
.run {
    outline: none;
    border: 3px solid darkolivegreen;
    color: darkolivegreen;
    background: white;
    font-size: 1rem;
    transition: all 0.4s ease-out;
    display: inline-block;
}

.run:hover {
    color: white;
    background: darkolivegreen;
}
.warn {
    outline: none;
    border: 3px solid crimson;
    color: crimson;
}

.warn:hover {
    color: white;
    background: crimson;
}
.error-heading {
    color: crimson;
}
button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.statusbar {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: darkslategrey;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 5px;
}
.statusbar-green {
    background: darkolivegreen;
}
.statusbar-yellow {
    background: darkorange;
}
.statusbar-red {
    background: crimson;
}

/*
 *  STYLE 2
 */

.CodeMirror-vscrollbar::-webkit-scrollbar-track, .description::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.CodeMirror-vscrollbar::-webkit-scrollbar, .description::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb, .description::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: crimson;
}